<% include layout_header %>
    <script>
      $(document).ready(function(){

        <% if(isIntro){ %>
          introJs().start();
        <%}%>

        //timeline
        var container = document.getElementById('timeline');
        var items = new vis.DataSet([
          {content: '初選第一階段開始', start: '2015-08-17'},
          {content: '初選第一階段結束', start:'2015-08-20'},
          {content: '初選第二階段開始', start: '2015-08-25'},
          {content: '初選第二階段結束', start:'2015-08-27'},
          {content: '網路加退選（學期開始）', start: '2015-09-14'},
          {content: '網路加選截止（中午十二點）', start: '2015-09-26'},
          {content: '網路退選課程截止（系統開放至28日上午8時）', start: '2015-09-27'},

        ]);

        var options = {
          hiddenDates: [
            {start: '2015-08-21 00:00:00', end: '2015-08-25 00:00:00'},
            {start: '2015-08-28 00:00:00', end: '2015-09-14 00:00:00'},
            {start: '2015-09-15 00:00:00', end: '2015-09-26 00:00:00'},
          ]
        };

        var timeline = new vis.Timeline(container, items, options);
      });
    </script>
  </head>

  <body>
    <% include body_header %>
    <% include body_right %>

    <div id="main" class="container">
      <div class="row timeline" data-intro='你可以在這裡看到選課的時程，千萬不要錯過系統開放的時間囉！' data-step="4" data-position="bottom">
        <div><h4>台大 104-1 選課時程表</h4></div>
        <div id="timeline"></div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <div class="panel panel-warning" >
              <div class="panel-heading" data-intro='歡迎來到NTUcourse.info！這裡會隨機顯示從批踢踢 NTUcourse 版的評價文。' data-step="1" data-position="bottom">
                <h3 class="panel-title">隨機評價精選</h3>
              </div>
              <div class="panel-body">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                        <%= pttReview.title %><br>
                        作者：<%= pttReview.author %><br>
                        時間：<%= pttReview.parseTime %><br>

                      </h3>
                    </div>
                    <div class="panel-body pttReivew">
                      <div class="comment">
                        <a href="/reviews/<%= pttReview.pttId %>">完整版連結</a><br>
                        <%- pttReview.content %>
                        <br><a href="/reviews/<%= pttReview.pttId %>">完整版連結</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">隨機評價精選</h3>
              </div>
              <div class="panel-body">

              <% for(var i=0;i<reviews.length;i++){ %>
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                        <%= reviews[i].semester %><br>
                        <%= reviews[i].teacherName %> - <%= reviews[i].courseName %>
                      </h3>
                    </div>
                    <div class="panel-body">
                      <div class="comment">
                        <blockquote>
                          <p><%- reviews[i].content %></p>
                          <small><%= reviews[i].nickname %></small>
                        </blockquote>
                        <a href="/reviews/<%= reviews[i].id %>">傳送門</a>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>

              </div>
            </div>
        </div>
      </div>
    </div>

    <% include layout_footer %>
  </body>
</html>